[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/vebbis321/nvim.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/vebbis321/tmux.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/vebbis321/zsh.git
[submodule "scripts/.local/bin"]
	path = scripts/.local/bin
	url = https://github.com/vebbis321/bin.git
